body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.first-container {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-left: 430px;
    margin-right: 430px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
}

.header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 16px;
}

.header .left-side {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header .right-side {
    font-size: 18px;
    color: #E5E7EB;
}

.second-box {
    height: 400px;
    margin-left: 280px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.left-box {
    display: flex;
    height: 200px;
    width: 450px;
    align-items: center;
    flex-wrap: wrap;
}

.left-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.left-box .subhead {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left-box .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    cursor: pointer;
    margin-top: 7px;
    padding: 8px 38px;
    border-radius: 8px;
}

button.sign-up {
    background: #3882F6;
    border: 1px solid #3882F6;
    font-weight: bold;
    color: white;
}


.right-box {
    display: flex;
    height: 250px;
    width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
}

.second-container {
    height: 400px;
}

.second-container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 36px;
    font-weight: bolder;
}

.bluebox-containers {
    border: 2px solid blue;
    height: 500px;
    display: flex;

}

.bluebox-containers * {
    border: 1px solid red;
    width: 200px;
    height: 200px;
}



